<!DOCTYPE html>
<html>
  <head>
    <title>RailsWebpackSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_bundle_tag 'hello_world' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
